<div class="container mt-4">
    <h1 class="text-center">Welcome to Employee Management System</h1>
    <h2 class="text-center text-secondary">Angular Routing</h2>
    <nav class="nav justify-content-center">
        <a class="nav-link" routerLink="/getEmployees">View Employees</a>
        <strong class="nav-link">|</strong>
        <a class="nav-link" routerLink="/addEmployees">Add Employees</a>
        <strong class="nav-link">|</strong>
        <a class="nav-link" routerLink="/getEmployeeById">View Employee By ID</a>
    </nav>
</div>
<br>
<router-outlet></router-outlet>
