<div class="container mt-4">
    <form *ngIf="!submitted" (ngSubmit)="onSubmit()" class="form-inline">
        <div class="form-group mb-3">
            <label for="empId" class="mr-2">Employee ID: </label>
            <input type="text" id="empId" name="empId" class="form-control" required [(ngModel)]="employee.empId" />
        </div>
        <button type="submit" class="btn btn-primary ml-2">Search</button>
    </form>
</div>
<table *ngIf="submitted && !noRecordFound" class="table table-dark table-striped table-bordered">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Designation</th>
            <th colspan="2">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{employee.empId}}</td>
            <td>{{employee.empName}}</td>
            <td>{{employee.empSalary | currency:'INR':'symbol':'1.2-2'}}</td>
            <td>{{employee.empDesignation}}</td>
            <td>
                <a routerLink="/updateEmployee" class="btn btn-warning btn-sm mr-2">Update</a>
            </td>
            <td>
                <a routerLink="/deleteEmployee" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="submitted && noRecordFound" class="alert alert-danger m-4">
    <span>Employee Not Found</span>
</div>